.register {
  height: 100vh;
  // width: 100vw;
  background-color: rgb(193, 190, 255);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 50%;
    display: flex;
    border-radius: 10px;
    flex-direction: row-reverse;
    // min-height: 600px;
    min-height: 60%;
    overflow: hidden;


    .left {
      flex: 1;
      background-image: linear-gradient(rgba(39, 11, 96, 0.705), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/1019771/pexels-photo-1019771.jpeg?auto=compress&cs=tinysrgb&w=300");
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50px;
      // padding: 20vh;

      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      h1 {
        font-size: 70px;
        line-height: 70px;
      }

      p {}

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 2.5%;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      background-color: white;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 10px 7px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          font-weight: bold;
          color: white;
          cursor: pointer;
        }
      }

    }

  }
}